@page "/roles/{id}"
@inject IGatewayApi Api

<h1>Role</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

@if (!IsLoading)
{
    <h2>@_model.Role.Name</h2>

    <div class="card">
        <div class="card-header">
            Permissions this role grants
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var permission in _model.Role.Permissions)
            {
                <li class="list-group-item">@permission</li>
            }
        </ul>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            Teams with this role
        </div>
        <div class="list-group list-group-flush">
            @foreach (var team in _model.Role.Teams)
            {
                <a href="teams/@team.Id" class="list-group-item list-group-item-action">@team.Name</a>
            }
        </div>
    </div>
}

@functions
{
    [Parameter] string id { get; set; }

    private Model _model;

    private bool IsLoading => _model == null;

    protected async override Task OnInitAsync()
    {
        var query = @"{ role (id: '$id') {id name teams { id name } permissions } }".Replace("'", "\"").Replace("$id", id);
        _model = await Api.ExecuteGraphQuery<Model>(query);
    }

    public class Model
    {
        public RoleModel Role { get; set; }
    }
}
