@page "/Roles"
@inject IGatewayApi Api

<h1>Roles</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

@if (!IsLoading)
{
    <div class="list-group">
        @foreach (var role in _model.Roles)
        {
            <a href="roles/@role.Id" class="list-group-item list-group-item-action">@role.Name</a>
        }
    </div>
}

@functions
{
    private Model _model;

    private bool IsLoading => _model == null;

    protected async override Task OnInitAsync()
    {
        _model = await Api.ExecuteGraphQuery<Model>("{ roles { id name } }");
    }

    public class Model
    {
        public IEnumerable<RoleModel> Roles { get; set; }
    }
}
