@page "/teams"
@inject IGatewayApi Api

<h1>Teams</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

@if (!IsLoading)
{
    <div class="list-group">
        @foreach (var team in _model.Teams)
        {
            <a href="teams/@team.Id" class="list-group-item list-group-item-action">@team.Name</a>
        }
    </div>
}

@functions
{
    private Model _model;

    private bool IsLoading => _model == null;

    protected async override Task OnInitAsync()
    {
        _model = await Api.ExecuteGraphQuery<Model>("{ teams { id name } }");
    }

    public class Model
    {
        public IEnumerable<TeamModel> Teams { get; set; }
    }
}
