@page "/users"
@inject IGatewayApi Api

<h1>Users</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

@if (!IsLoading)
{
    <div class="list-group">
        @foreach (var user in _model.Users)
        {
            <a href="users/@user.Id" class="list-group-item list-group-item-action">@user.Name</a>
        }
    </div>
}

@functions
{
    private Model _model;

    private bool IsLoading => _model == null;

    protected async override Task OnInitAsync()
    {
        _model = await Api.ExecuteGraphQuery<Model>("{ users { id name } }");
    }

    public class Model
    {
        public IEnumerable<UserModel> Users { get; set; }
    }
}
