@page "/users/{id}"
@inject IGatewayApi Api

<h1>User</h1>

@if (IsLoading)
{
    <p>Loading...</p>
}

@if (!IsLoading)
{
    <h2>@_model.User.Name</h2>

    <div class="card">
        <div class="card-header">
            Teams this user belongs to
        </div>
        <div class="list-group">
            @foreach (var team in _model.User.Teams)
            {
                <a href="teams/@team.Id" class="list-group-item list-group-item-action">@team.Name</a>
            }
        </div>
    </div>
}

@functions
{
    [Parameter] string id { get; set; }

    private Model _model;

    private bool IsLoading => _model == null;

    protected async override Task OnInitAsync()
    {
        var query = @"{ user (id: '$id') {id name teams { id name} } }".Replace("'", "\"").Replace("$id", id);
        _model = await Api.ExecuteGraphQuery<Model>(query);
    }

    public class Model
    {
        public UserModel User { get; set; }
    }
}
